html {
  -ms-touch-action: none;
}

body, canvas, div {
  margin: 0;
  padding: 0;
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;

  cursor: default;
  color: #888;
  background-color: #333;

  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}


/* shell loading */
#myProgress {
  width: 80%;
background-color: #011b21;
border:2px solid #67c2d6;
border-radius:20px;
bottom:15%;
position: fixed;
left:10%;
z-index:100;
height: 8px;
    padding: 10px;

    box-shadow: 0 2px 2px rgba(255, 255, 255, .4) inset, 0 -2px 2px rgba(2, 2, 2, .4) inset;
    animation: animate-glow-progress 2s ease-out infinite;
}

@keyframes animate-glow-progress {
 0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .5) inset, 0 -5px 5px rgba(255, 255, 255, .5) inset;}
 50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .1) inset, 0 -5px 5px rgba(255, 255, 255, .1) inset;}
 100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .5) inset, 0 -5px 5px rgba(255, 255, 255, .5) inset;}
 }

#myBar {
  width: 100%;
bottom:100%;
height: 8px;
border-radius:10px;
background-color: #67c2d6;
box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
animation: animate-glow 1s ease-out infinite;
}

@keyframes animate-glow {
 0% { box-shadow: 0 5px 5px rgba(71, 188, 214, .7) inset, 0 -5px 5px rgba(71, 188, 214, .7) inset;}
 50% { box-shadow: 0 5px 5px rgba(103, 194, 214, .3) inset, 0 -5px 5px rgba(103, 194, 214, .3) inset;}
 100% { box-shadow: 0 5px 5px rgba(71, 188, 214, .7) inset, 0 -5px 5px rgba(71, 188, 214, .7) inset;}
 }

#grad1 {
  width: 100%;
  height: 100%;
  position: fixed;
  font-size:5vw;
  z-index:2;
  background-image: linear-gradient(
      to bottom,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 30%,
      rgba(0,0,0,0) 70%,
      rgba(0,0,0,1) 100%
    ) /* Standard syntax (must be last) */
}
#grad2 {
  width: 100%;
  height: 100%;
  position: fixed;
  font-size:5vw;
  z-index:1;
  background-image: linear-gradient(
      to bottom,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,1) 30%,
      rgba(0,0,0,1) 70%,
      rgba(0,0,0,1) 100%
    ) /* Standard syntax (must be last) */
}

#backGroundImage {

  height: 100%;
  background-size: cover;
  position: absolute;
  background-size: cover;

  left: 0;
  /* top: 0; */

  width:100%;
  z-index:1;
}
#juego {
 text-align:center;
  position: absolute;
  left:22%;
  bottom:1%;
  width: 10%;
  height: 10%;
  z-index:110;
}

#title {
 text-align:center;
  position: absolute;
  left:15%;
  top:10%;
  width: auto;
  height: 80%;
  z-index:1;
}
